/* Simple dashboard for cards using flexbox */
.dashboard {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.dashboard > div {
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
}
.dashboard > div h2 {
  margin-top: 0;
  display: flex;
}
.dashboard > div h2 svg {
  margin-left: 8px;
  width: 24px;
  height: 24px;
}
.dashboard > div div.value {
  display: flex;
  justify-content: space-around;
}


